<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container" th:object="${item}">

    <div class="py-5 text-center">
        <h2 th:text="#{page.item}">상품 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="#{page.status.saved}">저장 완료</h2>

    <div>
        <label for="id" th:text="#{label.item.id}">?</label>
        <input type="text" id="id" th:field="*{id}" class="form-control" readonly>
    </div>
    <div>
        <label for="itemName" th:text="#{label.item.itemName}">?</label>
        <input type="text" id="itemName" th:field="*{itemName}" class="form-control" readonly>
    </div>
    <div>
        <label for="price" th:text="#{label.item.price}">?</label>
        <input type="text" id="price" th:field="*{price}" class="form-control" readonly>
    </div>
    <div>
        <label for="quantity" th:text="#{label.item.quantity}">?</label>
        <input type="text" id="quantity" th:field="*{quantity}" class="form-control" readonly>
    </div>


    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/message/items/{itemId}/edit(itemId=${item.id})}'|"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/message/items}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>